@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #0d9488;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 00.5rem;
}

.list-non-bullet{
    list-style: none;
}
.list-in-line{
    display: inline;
    padding: 0rem 0.5rem;
    
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-head {
    font-weight: bold;
}

.navigation .bull{
    text-align: right;
   
}
.navigation .nav-pills {
    color: white;
    padding: 1rem;  
}
.hero {
    padding: 1rem;
    
}
.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
    
}
.hero .hero-head {
    padding-top: 1rem;
    color: grey;
    margin: auto;
}
.hero .hero-span{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: whitesmoke;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
    text-align: center;
}
.footer-header{
    text-align: left;
}
.footer .links{
    color: white;
    text-decoration: none;
    font-weight: bold;
}