<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet" />
</head>

<body>
    <h1>Welcome to AKASH GAJWAR's component library</h1>

    <h2>@typography</h2>
    <p>Abraham Lincoln was an American lawyer and statesman who served as the 16th president of the United States from
        1861 until his assassination in 1865. Lincoln led the nation through the American Civil War and succeeded in
        preserving the Union, abolishing slavery, bolstering the federal government, and modernizing the U.S. economy.
    </p>
    <div>This is the <strong>bold</strong> text</div>

    <small>Abraham Lincoln</small>
    <hr>
    <h2>@container</h2>
    <h3>fluid container</h3>
    <div class="container">This is fluid container and will go till end of the page</div>
    <h3>centre container</h3>
    <div class="container container-centre">This is center cointaner it will go till the specified width</div>
    <hr>
    <h2>@links</h2>
    <a class="link link-primary" href="/">Primary link</a>
    <a class="link link-secondary" href="/">Secondary link</a>
    <hr>
    <h2>@lists</h2>
    <h3>unordered list</h3>
    <ul>
        <li class="list-non-bullet">Item one</li>
        <li class="list-non-bullet">Item two</li>
        <li class="list-non-bullet">Item three</li>
    </ul>
    <h3>Inline unordered list</h3>
    <ul>
        <li class="list-in-line">Item one</li>
        <li class="list-in-line">Item two</li>
        <li class="list-in-line">Item three</li>
    </ul>
    <h3>Reverse ordered list</h3>
    <ol reversed>
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ol>
    <hr>
    <h2>@navigation</h2>
    <nav class="navigation container">
        <div class="nav-head">Iamcoder</div>
        <ul class=" ist-non-bullet bull">
            <li class="list-in-line list-non-bullet">
                <a class="nav-pills active" href="/">Qualities</a>
                <a class="nav-pills" href="/">Passion</a>
                <a class="nav-pills" href="/">Hobbies</a>
            </li>
        </ul>
    </nav>
    <hr>
    <h2>@header</h2>
    <header class="hero">
        <img class="hero-img" src="images\hero.svg" />
        <h1 class="container-centre hero-head">Adarsh Balak the <span class="hero-span">Web Devloper</span></h1>
    </header>

    <hr>
    <section class="section">
        <div class="container container-centre">
            <h1>white section</h2>
                <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea.
                    A
                    paragraph consists of one or more sentences. Though not required by the syntax of any language,
                    paragraphs
                    are usually an expected part of formal writing, used to organize longer prose</p>
        </div>

    </section>

    <section class="section ow">
        <div class="container container-centre">
            <h1>off white</h2>
                <p>A paragraph is a series of related sentences developing a central idea, called the topic. Try to
                    think
                    about
                    paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that
                    supports
                    one
                    central, unified idea. Paragraphs add one idea at a time to your broader argument.</p>
        </div>

    </section>

    <h2>@footer</h2>
    <footer class="footer">
        <div class="footer-header">We will not use h tags here in footer</div>
        <ul class="list-non-bullet">
            <li class="list-in-line"> <a class="links" href="/">Twitter</a>
            </li>
            <li class="list-in-line"> <a class="links" href="/">Github</a>
            </li>
            <li class="list-in-line"> <a class="links" href="/">linkedIn</a>
            </li>
        </ul>
    </footer>



</body>

</html>